{% extends "base.html" %}

{% block styleblock %}

p
{
	width: 75%;
	margin: auto;
	padding: 40px;
}
body
{
	margin: auto;
}

button
{
	margin: auto;
	border-style: outset;
}

{% endblock %}

{% block main %}

	<h1>Welcome to History Online</h1>
	<p>History Online is a place where students can learn about historical events through a visual and interactive experience. Historians can use this as a tool to map out their research and publish their information to the public. While many people assume history must be read linearly, History Online allows you to explore specific topics and understand links in events that you may have never before considered! 
		Click below to start you historical explorations or to create your own map</p>
	<a href="/map" class="button">Start</a>
	<a href="/create_web" class="button">Create New</a>

{% endblock %}