{% extends "base.html" %}

{% block styleblock %}

h3
{
	color:#FFFFCC;
	line-height: 1.5;
	text-align: center;
}
h1
{
	text-align: center;
	color:#FFFFCC;
}
#buttons
{
	width: 26.5%;
	margin: auto;
	margin-bottom: 20px;
}
#background
{
	width: 80%;
	height: 540px;
	margin: auto;
	background-image: url(/static/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius:5px;
}
#square
{
	width: 90%;
	height: 80%;
	background-color:#065073;
	float:left;
	margin:5%;
	opacity:.3;
}
#welcomeText
{
	position: absolute;
	width: 70%;
	height: 70%;
	margin: 10%;
	margin-left: 5%;
	margin-right:5%;
	padding: 5px;
}
{% endblock %}

{% block main %}
<div id="background">
	<div id="square"></div>
	<div id="welcomeText">
		<h1>Welcome to History Online</h1>
		<h3>A tool for historians to display their research easily and viewers to experience history differently.<br> This site is designed to give people flexibility in how they want to portray and study information by applying the principles of networks and filtering to the field of historical research.<br>Click below to start exploring  existing maps or creating your own!</h3>
	</div>
</div>
<div id="buttons">
	<a href="/map" class="button">Explore</a>
	<a href="/create_web" class="button">Create Map</a>
</div>
{% endblock %}