{% extends "base.html" %}

{% block styleblock %}

#background
{
	width: 80%;
	height: 540px;
	margin: auto;
	margin-bottom:40px;
	background-image: url(/static/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius:5px;
}
.box 
{
	background-color:#065073;
	float:left;
	margin:5%;
	opacity:.3;
	height:80%;
}
a
{
	color:#FFFFCC;
	text-decoration: none;
}
a:hover
{
	color:#55AEFC;
	text-decoration: underline;
}
#intro
{
	width:55%;
	margin-right:0;
}
#intro_text
{
	color: #FFFFCC;
	position: absolute;
	width:40%;
	height: 70%;
	margin: 5%;
	margin-left: 7%;
	overflow: auto;
	padding:5px;
	top:5%;
}
#mapList
{
	width:30%;
}
#mapList_text
{
	color: #FFFFCC;
	position: absolute;
	right:10%;
	width:20%;
	overflow: auto;
	height:70%;
	margin:5%;
	top: 5%;
	padding:5px;
}

{% endblock %}

{% block main %}
<div id="background">
	<div id="intro" class="box"></div>
	<div id="intro_text">
		<h3>History Maps</h3>
		<h4>Every History Online topic begins with a map. This map provides you with an interactive network of images and links that illustrate how subtopics are connected through chronological and thematic ties. <br>Shift and shape the map to discover information about each topic, or choose a filter to view a specific subset of the network. Lastly double click any image to access more details, further research, and links to all other related topics.<br> 
			So choose a map, and start exploring now!</h4>
	</div>
	<div id="mapList" class="box"></div>
	<div id="mapList_text">
		<h3>Maps:</h3>
		<ul>
		{% for map in maps %}
			<li><a href="/map/{{map.name.split|join:'_'}}/all/"><h4>{{map.name}}</h4></a></li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}